.signInPage {
  margin-top: 1em;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
}

.langSelectAuth {
  position: absolute;
  top: 0.9em;
  right: 6.5em;
}

#signInBar {
  flex-shrink: 0;
  box-shadow: none;
}

#signIn {
  position: absolute;
  margin-left: 1em;
  top: .8em;
}

#signInHelp {
  position: absolute;
  top: .8em;
  right: 1em;
}

  /****************/
 /* Sign-in page */
/****************/

.formAuth {
  padding-left: 2.5em;
}

.form:required:invalid:focus {
  border: solid 1px #e9322d;
  border-right: solid 3px #e9322d;
}

.form:required:valid:focus {
  border: solid 1px #1b9dec;
  border-right: solid 3px #1b9dec;
}

.form:required:valid {
  border: solid 1px #00b251;
  border-right: solid 3px #00b251;
}

.form:required:invalid {
  border-right: solid 3px #e9322d;
}

#formUser {
  background: url(../../resources/loginUser.svg) no-repeat 8px 8px;
  background-color: #ffffff;
}

#formPass {
  background: url(../../resources/loginPass.svg) no-repeat 8px 8px;
  background-color: #ffffff;
}

.inputIcon {
  /* position: absolute; */
  width: 1em;
  left: 1.8em;
  margin-top: -2em;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

#title {
  width: 25em;
  margin: auto;
  padding-top: .5em;
  margin-top: -1em;
  vertical-align: middle;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleText {
  display: inline-block;
  vertical-align: middle;
  margin-left: -6em;
  margin-top: 6em;
}

h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 4000;
  font-size: 3.5em;
  margin: 0;
}

#logo {
  display: block;
  float: left;
  width: 15em;
  margin-left: -6em;
}

#passIcon {
  top: 5em;
}

#signInButton, #inputButton {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #0051b2;
  box-shadow: none;
  color: #ffffff;
}

#signInButton:hover {
  cursor: pointer;
  background-color: #024aa1;
}

.errorMessage {
  position: absolute;
  z-index: 1;
  bottom: .8em;
}

.status {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: -.2em;
  margin-bottom: .5em;
}

.notFilled {
  text-align: center;
  color: #0051b2;
}

.noError {
  text-align: center;
  color: #008005;
}

.errorInput {
  text-align: center;
  color: #be4b49;
  margin-bottom: .5em;
}

.details {
  font-size: 12px;
  margin-bottom: 1.5em;
}

.last {
  margin-bottom: 0;
}

i {
  position: absolute;
  z-index: 1;
  margin-top: -.1em;
  margin-right: -1.15em;
  height: 22px;
  right: 7px;
  width: 11px;
  background-image: url(../../resources/arrows.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -36px;
}

/***************************/
/* Forgotten password page */
/***************************/


#forgotPassButton {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #0051b2;
  box-shadow: none;
  color: #ffffff;
}

#forgotPassButton:hover {
  cursor: pointer;
  background-color: #024aa1;
}
