.eventmain {
  font-size: 18px;
  width: 100%;
}

.eventSearch {
  display: flex;
}

.eventButton {
  min-height: 3.3em;
  margin-left: 1em;
}

.eventlist {
  border-collapse: collapse;
}

.eventlist td, .eventlist th {
  min-width: 50px;
  max-width: 350px;
  padding: 5px;
  border: 2px solid black;
}
