/* Home-headlines*/
.home-headlines{
  font-size: 2em;
}

#news-image {
  padding-left: 0.5em;
  padding-top: 2em;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  width: 75%;
  display:block;
  margin:auto;
}
.newsText {
  font-size: 1em;
  width: 90%;
  margin-left: 1.5em;
}
.newsheading {
  font-size: 2em;
  padding-bottom: 0.5em;
  margin-left: 0.7em;
  padding-top: 0.5em;
}

.fc-scroller, .fc-day-grid-container {
  overflow-y: hidden !important;
  height: 100% !important;
}

/*Calendar-window */
#calendarwindow {
  width: 30em;
  margin-top: 2em;
  border-style: solid;
  border-color: black;
  border-width: 0.01em;
  float: left;
}


/*POPUPBOX-EVENT */

.popupstyle {
    display: none;
    position: fixed;
    z-index: 1;
    /* width: 40%; */
    /* height: 100%; */
    overflow: auto;
}
.popupcontent {
    background-color: #fefefe;
    /* margin: auto; */
    padding: 0px;
    border: 1px solid #888;
    /* width: 65%; */
    box-shadow: 2px 2px grey;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0,4s;
    animation-name: animatetop;
    animation-duration: 0,3s
}
.popupheader {
    padding: .5em;
    background-color: #1b9dec;
    color: white;
    font-size: 1em;
    overflow: hidden;
}

#popupHeaderContent {
  float: left;
}

.close {
  margin-left: .3em;
  margin-top: -.2em;
  margin-bottom: -.5em;
}

.popupbody {
  padding: .5em;
  font-size: 0.8em;
}
.popupbuttonposition {
  float:left;
  position: relative;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.news {
  border-style: solid;
  border-color: black;
  border-width: 0.01em;
  /* width: 35%;
  height: 60%;
  float: right; */
  font-size: 0.9em;
  margin-top: 2em;
}

/*Upcoming events */
.upcomingEvents {
  /* box-shadow: 0px 0px 5px; */
  border-style: solid;
  border-color: black;
  border-width: 0.01em;
  /* width: 35%;
  height: 60%; */
  /* float: right; */
  font-size: 0.9em;
  margin-top: 2em;
  padding-top: 0.5em;
}

.upcomingEvents-headline {
  font-size: 2em;
  margin-left: 0.7em;
}

.upcomingEvents-events {
  font-size: 1.1em;
}

.rightContainer {
  float: right;
  width: 30em;
  /* box-shadow: 0px 0px 5px;
  position:fixed;
  right: 0;
  max-width: 45em; */
}
