* {
  margin: 0;
}

html, body, #root, .main {
  height: 100%;
  font-family: Arial;
}

body, #root, .main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  padding: 0;
  padding-bottom: .5em;
  padding-left: .2em;
}

ul {
  margin-bottom: 1em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

button {
  background-color: #0051b2;
  color: #ffffff;
  border: 1px solid #ccc;
  min-height: 2.5em;
  padding-left: .5em;
}

button:focus, select:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #00489f;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  margin-top: .5em;
}

.content {
  flex: 1 0 auto;
  background-color: #f6f4ee;
}

.contentWrapper {
  box-shadow: 0px 0px 5px;
  min-width: 23em;
  max-width: 65em;
  height: 100%;
  min-height: 92vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: -.5em;
  padding-bottom: 1em;
  background-color: #ffffff;
}

.search {
  font-size: 16px;
  width: 100%;
  margin-bottom: .5em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  min-height: 2.75em;
  padding-left: .5em;
  box-sizing: border-box;
  outline: none;
}

.search:focus {
  border: solid 1px #1b9dec;
}

.full {
  max-width: 100vw;
}

.textBoxWrapper {
  /* max-width: 50em; */
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.big-entry {
  margin-bottom: 1.5em;
}

.entry {
  margin-bottom: .5em;
}

.last {
  margin-bottom: 0;
}

.title {
  margin-top: .5em;
}

.first {
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.inputForm {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  background: #f8f8f8;
  border: solid 1px #d4d4d4;
  padding: 1em;
}

.navBack{
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.form {
  font-size: 16px;
  width: 100%;
  margin-bottom: .5em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  min-height: 2.75em;
  padding-left: .5em;
  box-sizing: border-box;
  outline: none;
}

.inputButton {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #0051b2;
  box-shadow: none;
  color: #ffffff;
}

.inputButton:hover {
  cursor: pointer;
  background-color: #024aa1;
}

.backButton {
  background-color: #008206;
  font-size: 14px;
}

.backButton:hover {
  background-color: #007d05;
}

.deleteButton {
  background-color: #bd0500;
  font-size: 14px;
}

.acceptButton {
  background-color: #008206;
  font-size: 14px;
}

.inputRoles {
  width: 12em;
}

.inputQuantity {
  width: 3em;
}

.removeInputButton {
  width: 3em;
  margin: 0;
  margin-left: .5em;
}

.addInputButton {
  width: 3em;
  margin: 0;
}

.deleteButton:hover {
  background-color: #b30602;
}

.acceptButton:hover {
  background-color: #007d05;
}

.lonely {
  margin: 0;
}

.birth {
  width: 5em;
  padding-left: .2em;
  margin-right: 1.43em;
}

.addRemoveButton {
  width: 3em;
}

.postcode {
  width: 5em;
  margin-right: 1.43em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.right-correction {
  margin-top: -1.1em;
}

.city {
  width: 13.5em;
}

.month {
  width: 7em;
}

.date {
  width: 10em;
  padding-left: .5em;
}

.time {
  width: 7em;
  margin-right: 0;
  padding-left: .5em;
}

.year {
  float: right;
  margin-right: 0;
}
