@import "auth.css";
@import "menu.css";
@import "userDetails.css";
@import "userDetailsEdit.css";
@import "events.css";
@import "jsCalendar.css";
@import "home.css";

* {
  margin: 0;
}

html, body, #root, .main {
  height: 100%;
  font-family: Arial;
}

body, #root, .main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 8px;
  flex: 1 0 auto;
}

label {
  display: inline-block;
  padding: 0;
  padding-bottom: .5em;
  padding-left: .2em;
}

ul {
  margin-bottom: 1em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
