.textBox {
  display: inline-block;
  width: 18em;
  /* background: #f8f8f8; */
  /* border: solid 1px #d4d4d4; */
  padding: .5em;
  font-size: 18px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px black;
}

.userNameBox {
  padding: 1em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0px 0px 2px black;
}

.userName {
  display: inline-block;
  font-size: 2em;
  margin-left: 1em;
  margin-bottom: 0;
}

.accountImg {
  display: inline-block;
  border: 3px solid black;
  box-shadow: 0px 0px 3px black;
}

.accountImgContainer {
  margin-bottom: -.2em;
}

.textBoxHead {
  padding-bottom: 0;
}

.textBoxTitle {
  display: inline-block;
  font-size: 24px;
}

.editUserButton, .acceptUserButton, .rejectUserButton, .editCompetenceButton, .saveCompetenceButton, .editLoginButton {
  float: right;
}

.userButtons {
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: auto;
}

.editLoginButton {
  margin-right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: auto;
}

.deactivateUserButton, .reactivateUserButton {
  margin-right: 0;
  margin-top: 4.2em;
  margin-left: auto;
  margin-bottom: 0;
}

.addCompetenceButton {
  margin-top: .5em;
}

.removeCompetenceButton {
  float: left;
}

.userDetailsBox {
  display: absolute;
  float: left;
}

.competenceBox {
  display: absolute;
  float: right;
  margin-left: .5em;
}

.competence {
  margin: 0;
  padding-left: 1em;
}
